<head>
  <style>

    * {
      background-color: #D8E2DC;
    }

    .navbar div a {
      color: #FFE5D9;
      background-color: #9D8189;
      border-radius: 10px;
      padding: 5px 5px;
    }

    embed {
      width: 700px;
      height: 500px;
    }

    .embed_container {
      display: flex;
      justify-content: center;
    }

    .button_container {
      display: flex;
      justify-content: center;
      margin-top: 2em;
    }

    button {
      background-color: #9D8189;
      color: #FFE5D9;
      border: none;
      padding: 0.5rem 1rem;
      text-align: center;
      font-size: 1rem;
      cursor: pointer;
    }

    .button_container button a {
      background-color: #9D8189;
      color: #FFE5D9;
    } 

  </style>
</head>

<div class="embed_container">
  <embed src="<%=@url %>">
</div>



<div class="button_container">
  <button>
    <a href="/bacon">Go Back</a>
  </button>
</div>
