<head>
  <style>
    embed {
      width: 700px;
      height: 500px;
    }

    .embed_container {
      display: flex;
      justify-content: center;
    }

    .button_container {
      display: flex;
      justify-content: center;
      margin-top: 2em;
    }
  </style>
</head>

<div class="embed_container">
  <embed src="<%=@url %>">
</div>

<div class="embed_container">
  <button>
    <a href="<%=@url %>">Get Your Hipsum</a>
  </button>
</div>


<div class="button_container">
  <button>
    <a href="/hipster">Go Back</a>
  </button>
</div>
