<div>
  <form action="/results">
    <div>
      <label for="num_para">Number of paragraphs: </label>
      <input type="text" id="num_para" name="paragraph" placeholder="3" size="2">
    </div>

    <div>
      <label for="leng_para">Length of paragraphs: </label>
      <input type="text" id="leng_para" name="length" placeholder="short, medium, long, very long" size="26">
    </div>

    <div>
      <label for="markup">Add bold, italic and marked text? </label>
      <input type="text" id="markup" name="decorate" placeholder="yes or empty" size="11">
    </div>

     <div>
      <label for="add_link">Add links? </label>
      <input type="text" id="add_link" name="link" placeholder="yes or empty" size="11">
    </div>

    <div>
      <label for="add_ul">Add unordered lists? </label>
      <input type="text" id="add_ul" name="ul" placeholder="yes or empty" size="11">
    </div>

    <div>
      <label for="add_ol">Add ordered lists? </label>
      <input type="text" id="add_ol" name="ol" placeholder="yes or empty" size="11">
    </div>

    <div>
      <label for="add_dl">Add description lists? </label>
      <input type="text" id="add_dl" name="dl" placeholder="yes or empty" size="11">
    </div>
    
    <div>
      <label for="add_bq">Add blockquotes? </label>
      <input type="text" id="add_bq" name="bq" placeholder="yes or empty" size="11">
    </div>

    <div>
      <label for="add_header">Add headers? </label>
      <input type="text" id="add_header" name="headers" placeholder="yes or empty" size="11">
    </div>

    <div>
      <label for="add_cap">Use ALL CAPS? </label>
      <input type="text" id="add_cap" name="allcaps" placeholder="yes or empty" size="11">
    </div>

    <div>
      <button><a href="#"></a>Get Your Ipsum!</a></button>
    </div>
  </form>
</div>
