<div>
  <form action="/results">
    <div>
      <label for="num_para">Number of paragraphs</label>
      <input type="text" id="num_para" name="paragraph" placeholder="3">
    </div>

    <div>
      <label for="leng_para">Length of paragraphs</label>
      <input type="text" id="leng_para" name="length" placeholder="short, medium, long, very long" size="26">
    </div>

    <div>
      <label for="markup">Add bold, italic and marked text?</label>
      <input type="checkbox" id="markup" name="decorate">
    </div>

     <div>
      <label for="add_link">Add links</label>
      <input type="checkbox" id="add_link" name="link">
    </div>

    <div>
      <label for="add_ul">Add unordered lists</label>
      <input type="checkbox" id="add_ul" name="ul">
    </div>

    <div>
      <label for="add_ol">Add ordered lists</label>
      <input type="checkbox" id="add_ol" name="ol">
    </div>

    <div>
      <label for="add_dl">Add description lists</label>
      <input type="checkbox" id="add_dl" name="dl">
    </div>
    
    <div>
      <label for="add_bq">Add blockquotes</label>
      <input type="checkbox" id="add_bq" name="bq">
    </div>

    <div>
      <label for="add_header">Add headers</label>
      <input type="checkbox" id="add_header" name="headers">
    </div>

    <div>
      <label for="add_cap">Use ALL CAPS</label>
      <input type="checkbox" id="add_cap" name="allcaps">
    </div>

    <div>
      <button><a href="#"></a>Get Your Ipsum!</a></button>
    </div>
  </form>
</div>
